@font-face {
    font-family: 'OpenSans-Regular';
    src: url("fonts/OpenSans-Regular.ttf") format('truetype');
}
.leospa {
    background: url("./../images/banner/spa.png") no-repeat right top;
    background-size: 39.1%;
}
.header .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
}
.header .row .col-4 {
    position: relative;
    padding-top: 30px;
    padding-left: 147px;
}
.header .row .col-4 .logo-icon {
    position: absolute;
    left: 162px;
    top: 1px;
}
.header .row .col-4 .logo-img {
    position: absolute;
    top: 50px;
    width: 90px;
}
.header .nav {
    padding-top: 44px;
}
.header .nav .nav-link {
    color: #263a41;
    text-transform: uppercase;
    font-weight: 500;
}
.header .col-8 .nav .nav-items .nav-link:hover {
    color: rgb(255, 147, 147);
}

.banner {
    background: url("./../images/banner/leaf.png") no-repeat left;
    padding: 9% 0;
    background-position-x: -168px;
}
.banner .container .row .col-7 {
    padding-left: 145px;
}
.banner span {
    font-family: 'OpenSans-Regular';
    text-transform: uppercase;
    color: #ff817e;
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    padding-left: 5px;
}
.banner h1 {
    font-size: 50px;
    margin-bottom: 40px;
    color: #1e2528;

}
.banner p {
    font-size: 14px;
    padding-right: 45px;
    color: #555555;
}
.banner .video {
    padding-top: 40px;
}
.banner .video .btn.btn-danger {
    background-color: #ff817e;
    border: none;
    height: 40px;
    text-align: justify;
    margin-right: 30px;
    border-radius: 0;
}
.banner .video .btn.btn-danger i {
    padding-left: 10px;
}
.banner .video .btn.btn-danger:hover {
    color: black;
}
.banner .video .btn.btn-danger .fas.fa-arrow-right {
    padding-left: 10px;
    font-family: 'right-arrow-icon' !important;
}
.banner .video .icon-watch-video {
    display: inline;
    position: relative;
    font-family: 'OpenSans-Regular';
}
.banner .video .icon-watch-video .triagle-img {
    position: absolute;
    left: 24px;
    top: 5px;
}
.banner .video .link-video .watch-text {
    display: inline;
    color: #555555;
    font-size: 14px;
    text-transform: initial;
    letter-spacing: 0;
}
.banner .video .link-video:hover {
    text-decoration: none;
}
.banner .video .link-video .watch-text:hover {
    color: #ff817e;
}

.about {
    background: url("./../images/about/jasmine.png") no-repeat right center;
    background-size: 5%;
}
.about .container {
    padding-left: 130px;
}
.about .china-flower-img {
    display: block;
    height: 80px;
}
.about .butterfly-img {
    display: block;
    padding-left: 42%;
    height: 55px;
}
.about .title-about {
    text-transform: uppercase;
    color: #888888;
    padding-left: 36%;
    padding-top: 2%;
    line-height: 0.8;
}
.about h2 {
    padding-left: 23%;
    padding-top: 2%;
    color: #1e2528;
}
.about p {
    padding: 3% 16% 5% 3%;
    font-size: 14px;
    text-align: center;
    color: #888888;
}
.about .btn.btn-danger {
    text-transform: uppercase;
    display: inline-block;
    margin-left: 36%;
    border-radius: 50px;
    background-color: #ff817e;
    border: 1px transparent;
    width: 166px;
    height: 46px;
    padding: 11px;
}
.about .btn.btn-danger:hover {
    color: black;
}

.service {
    padding-top: 7%;
    padding-bottom: 6%;
    display: flex;
    justify-content: center;
}
.service .d-inline-flex.p-4 {
    padding: 0 !important;
    background-color: none !important;
}
.service .d-inline-flex.p-4 .p2 {
    position: relative;
}
.service .d-inline-flex.p-4 .p2 .single-service {
    padding: 4px;
    width: 337px;
    opacity: 1;
}
.service .d-inline-flex.p-4 .p2 .hover-background {
    transition: 0.5s ease;
    position: absolute;
    padding: 4px;
    width: 337px;
    opacity: 0;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.service .d-inline-flex.p-4 .p2 .hover-icon {
    transition: 0.1s ease;
    position: absolute;
    opacity: 0;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.service .d-inline-flex.p-4 .p2 .hover-text {
    transition: 0.1s ease;
    position: absolute;
    opacity: 0;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
}
.service .d-inline-flex.p-4 .p2:hover .img {
    opacity: 0.3;
}
.service .d-inline-flex.p-4 .p2:hover .hover-background {
    opacity: 1;
}
.service .d-inline-flex.p-4 .p2:hover .hover-icon {
    opacity: 1;
}
.service .d-inline-flex.p-4 .p2:hover .hover-text {
    opacity: 1;
}

.producedure .container {
    padding: 0 90px;
}
.producedure .container h2 {
    text-align: center;
    padding-bottom: 3%;
    padding-top: 3%;
    color: #263a41;
}
.producedure .container .title-text {
    padding-right: 12%;
    padding-left: 12%;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #888888;
}
.producedure .container .d-inline-flex.p-3 .p2 {
    margin: 1.5%;
    border: 1px solid #eeeeee;
    padding-bottom: 4%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}
.producedure .container .d-inline-flex.p-3 .p2:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}
.producedure .container .d-inline-flex.p-3 .p2:hover .btn.btn-danger {
    background-color: #ff817e;
}
.producedure .container .d-inline-flex.p-3 .p2 .img-procedure {
    padding-bottom: 9%;
    width: 290px;
    padding-top: 6%;
    padding-right: 6%;
    padding-left: 6%;
}
.producedure .container .d-inline-flex.p-3 .p2 h3 {
    font-size: 20px;
    text-align: center;
    padding-bottom: 5%;
    color: #263a41;
}
.producedure .container .d-inline-flex.p-3 .p2 .text {
    display: block;
    padding-right: 4%;
    padding-left: 4%;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #888888;
}
.producedure .container .d-inline-flex.p-3 .p2 .btn.btn-danger {
    margin-left: 26%;
    border-radius: 19px;
    width: 145px;
    background-color: rgb(60, 60, 60);
    border: none;
    height: 40px;
    margin-top: 10%;
    text-transform: uppercase;
}
.testimonial {
    background: #fff5f5;
    margin-top: 7%;
}
.testimonial .container {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    padding-top: 8%;
}
.testimonial .container .quote-img {
    padding-bottom: 5%;
}
.testimonial .container .quote-text {
    font-size: 14px;
    padding: 0 80px 10px;
    color: #263a41;
}
.testimonial .container .author-quote {
    display: block;
    padding-bottom: 5%;
    color: #263a41;
}
.testimonial .container .author-quote .author-quote-name {
    font-weight: bold;
}
.testimonial .container .pagination {
    padding-left: 43.5%;
    padding-bottom: 5%;

}
.testimonial .container .pagination .icon-pag {
    margin-left: 3%;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #ffc3c2;
}
.testimonial .container .pagination .icon-pag:hover {
    background-color: #ff817e;
}

.team .container {
    padding-bottom: 15%;
}
.team .container h2 {
    text-align: center;
    padding-bottom: 3%;
    padding-top: 3%;
    color: #263a41;
}
.team .container .title-text {
    padding-right: 12%;
    padding-left: 12%;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.3px;
    padding-bottom: 5%;
    color: #888888;
}
.team .container .d-inline-flex.p-3 {
    width: 100%;
}
.team .container .d-inline-flex.p-3 .p2 {
    margin: 1.5%;
    padding-bottom: 4%;
}
.team .container .d-inline-flex.p-3 .p2 .single-team {
    position: relative;
}
.team .container .d-inline-flex.p-3 .p2 .single-team:hover .info-team {
    opacity: 1;
    transition: 0.3s ease;
    padding: 11% 17% 6%;
    top: 79%;
    margin-top: -5%;
}
.team .container .d-inline-flex.p-3 .p2 .single-team:hover .info-team .icon-social {
    opacity: 1;
    padding-top: 20px;
}
.team .container .d-inline-flex.p-3 .p2 .single-team:hover .info-team .icon-social i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 30px;
    width: 30px;
}
.team .container .d-inline-flex.p-3 .p2 .single-team:hover .info-team .icon-social i {
    background: #eeeeee;
}
.team .container .d-inline-flex.p-3 .p2 .single-team:hover .info-team .icon-social i:hover {
    background: #ff817e;
}
.team .container .d-inline-flex.p-3 .p2 .img-team {
    width: 327px;
}
.team .container .d-inline-flex.p-3 .p2 .info-team {
    position: absolute;
    background: white;
    text-align: center;
    padding-left: 17%;
    padding-right: 17%;
    padding-top: 8%;
    top: 89%;
    left: 10%;
    padding-bottom: 2%;
}
.team .container .d-inline-flex.p-3 .p2 .info-team .info-team-name {
    font-size: 20px;
    font-weight: 600;
    color: #263a41;
}
.team .container .d-inline-flex.p-3 .p2 .info-team .info-team-text {
    font-size: 15px;
    text-align: center;
    color: #777777;
}
.team .container .d-inline-flex.p-3 .p2 .info-team .icon-social {
    opacity: 0;
}
.team .container .d-inline-flex.p-3 .p2 .info-team .icon-social .social:hover {
    text-decoration: none;
}
.team .container .d-inline-flex.p-3 .p2 .info-team .icon-social .social {
    color: black;
}
.team .container .d-inline-flex.p-3 .p2 .info-team .icon-social .social:hover {
    text-decoration: none;
    color: none;
}

.appointment {
    background: #fff5f5;
    margin-bottom: 10%;
}
.appointment .row .col-5 img {
    width: 574px;
}
.appointment .row .col-7 .container {
    padding-top: 100px;
    padding-left: 40px;
}
.appointment .row .col-7 .container .input-type {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid;
    border-bottom-color: #dadada !important;
    padding: 7px;
    margin: 10px;
    width: 80%;
}
.appointment .row .col-7 .container .input-type.style-selection {
    color: #757575; 
    padding-left: 2px;
}
.appointment .row .col-7 .container .input-type:focus {
    outline: none;
}
.appointment .row .col-7 .container .input-type ::placeholder {
    color: #d8d5d5;
}
.appointment .row .col-7 .container .row .col-12 .btn {
    border: 0;
    background: #ff817e;
    border-radius: 50px;
    width: 200px;
    height: 45px;
    margin-top: 20px;
    color: white;
    box-shadow: 0 1px 2px rgba(232, 111, 111, 0.8);
    transition: box-shadow 0.3s ease-in-out;
}
.appointment .row .col-7 .container .row .col-12 .btn:hover {
    transition: 0.3s ease;
    color: black;
    box-shadow: 0 5px 15px rgba(232, 111, 111, 0.8);
}

/* Style for blog */
.producedure .container .d-inline-flex.p-3 {
    padding-top: 10%;
}
.producedure .container .d-inline-flex.p-3 .p2 .date-type {
    text-transform: uppercase;
    font-size: 11px;
    color: #888888;
    text-align: center;
    padding-bottom: 10px;
}

/* Style for contact */
.contact {
    margin-top: 10%;
    margin-bottom: 10%;
}
.contact .producedure .container .row {
    padding-top: 5%;
}
.contact .producedure .container .row .col-4 .row .col-8 .text-single-contact {
    text-transform: uppercase;
    text-align: left;
    font-size: 14px;
}
.contact .producedure .container .row .col-4 .row {
    padding-bottom: 20px;
}
.contact .producedure .container .row .col-4 .row .col-4 {
    text-align: right;
    padding-left: 5%;
}
.contact .producedure .container .row .col-4 .row .col-4 .location {
    background: #ff817e;    
    width: 42px;
    text-align: center;
    padding: 12px;
    border-radius: 28px;
}
.contact .producedure .container .row .col-4 .row .col-4 .mail {
    background: #ff817e;
    width: 40px;
    text-align: center;
    padding: 12px;
    border-radius: 24px;
    height: 40px;
}
.contact .producedure .container .row .col-4 .row .col-4 .phone {
    background: #ff817e;
    width: 40px;
    text-align: center;
    padding: 12px;
    border-radius: 24px;
    height: 40px;
}
.contact .producedure .container .row .col-6 {
    padding-left: 20%;
}
.contact .producedure .container .row .col-6 .input-type{
    display: flex;
    border: none;
    width: 500px;
    height: 60px;
}
.contact .producedure .container .row .col-6 .input-type:focus {
    outline: none;
}
.contact .producedure .container .row .col-6 .submit-button {
    margin-top: 70px;
    border: 0;
    background: #ff817e;
    border-radius: 50px;
    width: 150px;
    height: 40px;
    color: white;
    box-shadow: 0 1px 2px rgba(232, 111, 111, 0.8);
    transition: box-shadow 0.3s ease-in-out;
    text-transform: uppercase;
}
.contact .producedure .container .row .col-6 .submit-button:hover {
    transition: 0.3s ease;
    color: black;
    box-shadow: 0 5px 15px rgba(232, 111, 111, 0.8);
}

.footer-section {
    background: #fff5f5;
    padding-top: 6%;
    padding-bottom: 4%;
}
.footer-section .logo {
    position: relative;
    margin-bottom: 4%;
}
.footer-section .logo .logo-icon {
    position: absolute;
    left: 50%;
}
.footer-section .logo .logo-img {
    position: absolute;
    top: 50px;
    width: 90px;
    left: 49%;
    padding-top: 10px;
}
.footer-section .nav {
    margin-top: 8%;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
}
.footer-section .nav .nav-link {
    color: black;
    text-transform: uppercase;
}
.footer-section .nav .nav-items .nav-link:hover {
    color: #ff817e;
}
.footer-section .icon-footer {
    text-align: center;
    display: flex;
    justify-content: center;
}
.footer-section .icon-footer .social {
    color: black;
    width: 20px;
    height: 30px;
    padding-top: 33px;
    padding-bottom: 33px;
}
.footer-section .icon-footer a:hover {
    text-decoration-line: none;
    color: #ff817e;
}